<div class="centered">
  <mat-card>
    <mat-card-header>
      <h2>Processors</h2>
    </mat-card-header>
    <table mat-table [dataSource]="sortableData" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name || "unknown" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let element">
          {{ element.description || "unknown" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="file_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>File Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.file_type || "unknown" }}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="processor_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Processor Enabled</th>
        <td mat-cell *matCellDef="let element">
          {{ element.enabled || "unknown" }}
          <button mat-button (click)="toggleEnable()">Disable</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>
    <ng-container *ngIf="loadingProcessors"
      ><mat-spinner></mat-spinner
    ></ng-container>
    <ng-container *ngIf="statusMessage.length > 0">
      <div class="statusMessage">{{ statusMessage }}</div>
    </ng-container>
  </mat-card>
</div>
