.control {
    margin-left: 1em;
    margin-right: 1em;
}

.spacer {
    flex: 1 1 auto;
}

.mat-button {
    border: 1px solid #424242;
}

md-toolbar {
    z-index: 10;
}

.lablan-banner {
	background-color: #840000;
}

#banner-title-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#banner-title {
  text-align: center;
  margin: 0;
}
