.mat-card {
  border-radius: 0px;
  max-width: 404px;
}

@media (max-width: 675px) {
  .mat-card {
    min-width: 208px;
    max-width: 208px;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.task-detail {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.control {
  margin-left: 1em;
  margin-right: 1em;
}

.controls {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2em;
}

.mat-button {
  border: 1px solid #303030;
  margin-top: 10px;
}

.mat-form-field {
  margin: 10px;
}

.mat-spinner {
  margin: 15px auto;
}

.statusMessage {
  margin-top: 1em;
  text-align: center;
}
