/* You can add global styles to this file, and also import other style files */
html {
    background-color: #505050;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.panel-body {
    display: grid;
    justify-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 93vh;
}

.statusMessage {
    margin-top: 1em;
    text-align: center;
}

.filterHighlight {
    background-color: violet;
    font-weight: bold;
}

.enabled {
    background-color: green;
}

.disabled {
    background-color: red;
}
