.workflow-list {
    margin-top: 2em;
    display: grid;
}

.mat-card {
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
}

.mat-header-cell {
    text-align: center;
    padding: 0px 24px 0px 36px;
}

.mat-cell {
    text-align: center;
    padding: 0px 24px 0px 24px;
}

.mat-button {
    border: 1px solid #303030;
}

.mat-form-field {
    margin: 10px;
}

.mat-spinner {
    margin: 15px auto;
}

.filter-input {
    margin-right: 2rem;
    margin-left: auto;
}

.button-add-workflow {
    width: 100%;
}
