<div class="centered">
    <mat-card>
        <mat-card-header>
            <h2>Tasks</h2>
            <mat-form-field id="filter-input">
                <input
                    matInput
                    type="text"
                    (keyup)="doFilter($event.target.value)"
                    placeholder="Filter"
                    [formControl]="filterInput"
                />
                <!-- [matAutocomplete]="auto" -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    (onchange)="console.log('testtesttest')">
                        {{option}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </mat-card-header>
        <ng-container>
            <table
                mat-table
                [dataSource]="sortableData"
                matSort
                matSortActive="taskID"
                matSortDirection="desc"
                matSortDisableClear
            >
                <ng-container matColumnDef="taskID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Task ID</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="gotoTaskDetail(element.id)">
                            {{ element.taskID || "unknown" }}
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="workflowID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Workflow</th>
                    <td mat-cell *matCellDef="let element">
                        <button
                            mat-button
                            (click)="gotoWorkflowDetail(element.workflowID)"
                            [innerHTML]="getWorkflowName(element.workflowID) || 'unknown' | highlightSearch: filter"
                        ></button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="status">Status</th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [innerHTML]="element.status || 'unknown' | highlightSearch: filter"
                    ></td>
                </ng-container>

                <ng-container matColumnDef="start">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="timestamp">Start Time</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.start | date: "short" || "unknown" }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
                <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
        </ng-container>

        <ng-container *ngIf="loadingTasklist || loadingWorkflows">
            <mat-spinner></mat-spinner>
        </ng-container>
        <ng-container *ngIf="statusMessage">
            <div class="statusMessage">{{ statusMessage }}</div>
        </ng-container>
    </mat-card>
</div>
