.mat-card {
  border-radius: 0px;
}

.centered {
  width: 100%;
}

.task-detail {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
}

.control {
  margin-left: 1em;
  margin-right: 1em;
}

.controls {
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 2em;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  border: 1px solid #424242;
}

md-toolbar {
  z-index: 10;
}

.okay {
    background-color: green;
}

.error {
    background-color: red;
}
