<div class="panel-body">
    <mat-card>
        <mat-card-header>
            <h2>Processors</h2>
            <mat-form-field id="filter-input">
                <input
                    matInput
                    type="text"
                    (keyup)="doFilter($event.target.value)"
                    placeholder="Filter"
                    [formControl]="filterInput"
                />
                <!-- [matAutocomplete]="auto" -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    (onchange)="console.log('testtesttest')">
                        {{option}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </mat-card-header>
        <table mat-table [dataSource]="sortableData" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    [innerHTML]="element.name || 'unknown' | highlightSearch: filter"
                ></td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.description || "unknown" }}
                </td>
            </ng-container>
            <ng-container matColumnDef="file_type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>File Type</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.file_type || "unknown" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="processor_status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let element">
                    <button
                        mat-button
                        (click)="toggleEnable(element)"
                        class="button-enable"
                        matTooltip="Click to enable/disable Processor"
                    >
                        {{ element.enabled ? "Disable Processor" : "Enable Processor" }}
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
        <ng-container *ngIf="loadingProcessors"><mat-spinner></mat-spinner></ng-container>
        <ng-container *ngIf="statusMessage.length > 0">
            <div class="statusMessage">{{ statusMessage }}</div>
        </ng-container>
    </mat-card>
</div>
