<div class="panel-body">
    <mat-card>
        <mat-card-header>
            <h2>Workflow Logs</h2>
            <mat-form-field id="filter-input">
                <input
                    matInput
                    type="text"
                    (keyup)="doFilter($event.target.value)"
                    placeholder="Filter"
                    [formControl]="filterInput"
                />
                <!-- [matAutocomplete]="auto" -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    (onchange)="console.log('testtesttest')">
                        {{option}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </mat-card-header>
        <ng-container>
            <table
                mat-table
                [dataSource]="sortableData"
                matSort
                matSortActive="time"
                matSortDirection="desc"
                matSortDisableClear
            >
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [innerHTML]="element.type || 'unknown' | highlightSearch: filter"
                    ></td>
                </ng-container>

                <ng-container matColumnDef="processor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Processor</th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [innerHTML]="element.processorId || 'unknown' | highlightSearch: filter"
                    ></td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
                    <td
                        mat-cell
                        *matCellDef="let element"
                        [innerHTML]="element.message || 'unknown' | highlightSearch: filter"
                    ></td>
                </ng-container>

                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="timestamp">Time</th>
                    <td mat-cell *matCellDef="let element" [innerHTML]="element.time || 'unknown' | date: 'short'"></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
                <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
        </ng-container>

        <ng-container *ngIf="loadingLogs">
            <mat-spinner></mat-spinner>
        </ng-container>
        <ng-container *ngIf="statusMessage">
            <div class="statusMessage">{{ statusMessage }}</div>
        </ng-container>
    </mat-card>
</div>
