<div class="centered">
  <mat-card class="login" *ngIf="!registeringUser" (keyup.enter)="login(username, password)">
    <h2>Login</h2>
    <mat-card-content>
      <div class="centered">
        <span class="mat-centered">
          <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput id="usr-name" #username />
          </mat-form-field>
        </span>
      </div>
      <span class="spacer"></span>
      <div class="centered">
        <span class="mat-centered">
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput id="password" type="password" #password />
          </mat-form-field>
        </span>
      </div>
      <div class="controls">
        <div class="statusMessage">{{ errorMessage }}</div>
        <ng-container *ngIf="!loggingIn">
          <button mat-button class="control" (click)="login(username, password)">
            Login
          </button>
          <button mat-button class="control" (click)="register()">
            Register
          </button>
        </ng-container>
        <ng-container *ngIf="loggingIn">
          logging in...
          <mat-spinner [diameter]="32"></mat-spinner>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>
  <ng-container *ngIf="registeringUser">
    <app-registration (registeringUser)="isRegistering($event)"></app-registration>
  </ng-container>
</div>
