<div class="workflow-editor">
    <mat-card-header>
        <mat-card-title>{{ cardTitle }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="workflowForm" class="workflow-form">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Processor</mat-label>
                    <mat-select formControlName="processor">
                        <ng-container *ngIf="processors.length > 0; else noProcessors">
                            <mat-option *ngFor="let processor of processors" [value]="processor.name">
                                {{ processor.name }}
                            </mat-option>
                        </ng-container>
                        <ng-template #noProcessors>
                            <mat-option value="null">No processors installed</mat-option>
                        </ng-template>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Interval in Minutes</mat-label>
                    <input matInput type="text" formControlName="interval" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="path-input">
                    <mat-label>Input File Path</mat-label>
                    <input matInput type="text" formControlName="inputFolder" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="path-input">
                    <mat-label>Output File Path</mat-label>
                    <input matInput type="text" formControlName="outputFolder" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="path-input">
                    <mat-label>Archive File Path</mat-label>
                    <input matInput type="text" formControlName="archiveFolder" />
                </mat-form-field>
            </div>
            <ng-container *ngIf="statusMessage">
                <div class="statusMessage">{{ statusMessage }}</div>
            </ng-container>
        </form>
    </mat-card-content>
    <mat-card-actions class="controls">
        <button mat-button class="control" (click)="saveWorkflow()">
            {{ buttonText }}
        </button>
        <button mat-button class="control" (click)="cancel()">Cancel</button>
    </mat-card-actions>
</div>
