<div class="centered">
    <mat-card>
        <mat-card-header>
            <h2>Users</h2>
            <mat-form-field id="filter-input">
                <input
                    matInput
                    type="text"
                    (keyup)="doFilter($event.target.value)"
                    placeholder="Filter"
                    [formControl]="filterInput"
                />
                <!-- [matAutocomplete]="auto" -->
                <!-- <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                    (onchange)="console.log('testtesttest')">
                        {{option}}
                    </mat-option>
                </mat-autocomplete> -->
            </mat-form-field>
        </mat-card-header>
        <table mat-table [dataSource]="sortableData" matSort>
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    [innerHTML]="element.username || 'unknown' | highlightSearch: filter"
                ></td>
            </ng-container>
            <ng-container matColumnDef="date-disabled">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Access</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.enabled; else disabled"> Enabled </span>
                    <ng-template #disabled>Disabled</ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
            <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" pageSize="10" showFirstLastButtons></mat-paginator>
        <ng-container *ngIf="loadingUsers"><mat-spinner></mat-spinner></ng-container>
        <ng-container *ngIf="statusMessage">
            <div class="statusMessage">{{ statusMessage }}</div>
        </ng-container>
    </mat-card>
    <ng-container *ngIf="editingUser">
        <app-user-editor (editing)="isEditing($event)"></app-user-editor>
    </ng-container>
</div>
