<div class="centered">
  <mat-card>
    <mat-card-header>
      <h2>Users</h2>
    </mat-card-header>

    <table mat-table [dataSource]="sortableData" matSort>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element">
          {{ element.username || "unknown" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date-added">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Added</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date_joined || "unknown" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date-disabled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Access
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.enabled; else disabled">
            Enabled
          </span>
          <ng-template #disabled>Disabled</ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
    </table>

    <ng-container *ngIf="loadingUsers"
      ><mat-spinner></mat-spinner
    ></ng-container>
    <ng-container *ngIf="statusMessage">
      <div class="statusMessage">{{ statusMessage }}</div>
    </ng-container>
  </mat-card>
  <ng-container *ngIf="editingUser">
    <app-user-editor (editing)="isEditing($event)"></app-user-editor>
  </ng-container>
</div>
