<div class="centered">
  <ng-container matCard *ngIf="task">
    <mat-card class="task-detail">
      <mat-card-header>
        <mat-card-title>Task ID: {{ task.taskID || "invalid" }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Workflow: {{ getWorkflowName(task.workflowID) || "unknown" }}</p>
        <p>Processor: {{ getProcessorName(task.workflowID) || "unknown" }}</p>
        <p>Start Time: {{ getFormattedDate(task.start) || "unknown" }}</p>
        <p>
          Input Folder: {{ getInputFolderPath(task.workflowID) || "unknown" }}
        </p>
        <p>Status: {{ task.status || "unknown" }}</p>
        <p>Status message: {{ task.message || "none" }}</p>
      </mat-card-content>
      <div class="controls">
        <!-- <button mat-button class="control" (click)="rerunTask()">
          Re-run Task
        </button>
        <button mat-button class="control" (click)="cancelTask()">
          Cancel Task
        </button> -->
        <button mat-button class="control" (click)="back()">Back</button>
      </div>
    </mat-card>
  </ng-container>
</div>
